@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --primary-color: #4B0414;
    --secondary-color: #C74D41;
    --accent1-color: #930112;
    --accent2-color: #270A14;

    --heading-font: "Playfair Display", serif;
    --paragraph-font: "Playfair Display", serif;

    --nav-background-color: #4B0414; 
    --nav-link-color: #c74d41; 
    --nav-hover-link-color: #930112; 
    --nav-hover-background-color: #270a14; 
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
